

<div class="twelve columns">
	<div class="row text-center">		
		<span class="large">Game finished!</span>
	</div>

	<div class="row text-center">
		<span class="pins xl">score: </span>
		<span class="pins xl"><%= @game.score %></span><span class="pins xl"> points</span>	
	</div>
</div>