<h1></h1>

<div class="twelve columns">
  <h1 id="site"><span itemprop="title">Track your Bowling Scores</span></h1>
<hr>
<p><blockquote>Welcome to Bowling Score, the most (in)complete bowling score tracker available.</blockquote></p>

<div class="twelve columns">
	<p class="text-center">
	<%= image_tag("bowling", size: "400x400", class: "centered") %>
	</p>
  	<p>
  		<%= link_to game_path(1,1), id: "btn-start", class: "large button expand" do %>
				<span class="big_font">Start</span><span class="pins">!</span></a>
			<% end %>

  		
  </p>
</div>