<p><blockquote>Welcome to Bowling Score, the most (in)complete bowling score tracker available.</blockquote></p>

<div class="twelve columns">
	<p class="text-center">
	<%= image_tag("bowling", size: "400x400", class: "centered") %>
	</p>
  	<p>
  		<%= link_to create_game_path, id: "btn-start", class: "large button expand" do %>
				<span class="xl">Start</span><span class="pins xl">!</span></a>
			<% end %>  		
  </p>
</div>