


<div class="twelve columns">
	<h2>Round <%= @round %>, Ball <%= @ball %></h2>
	
	<h3>Please, Select pins knocked down</h3>
	
	<div class="row">
		<% (0..10).each do |pins| %>
		<div class="large-4 columns left">
			<a href="">
				<div class="btn_pins panel">
					<span class="large"><%= pins %></span>&nbsp;
					<% if pins > 0 %>
						<% pins.times do %>
							<span class="pins right large">X</span>
						<% end %>
					<% end %>
				</div>
			</a>
		</div>
		<% end %>
	</div>
</div>