


<div class="twelve columns">
	<h2>Round <%= @round %>, Ball <%= @ball %></h2>
	
	<h3>Please, Select pins knocked down</h3>
	
	<div class="row">
		<%= render partial: "pins_cards", locals: { pins: @pins } %>		
	</div>
</div>