
<div class="twelve columns">
	<div class="row">
		<h3 class="left">Please, Select pins knocked down</h3>
		<span class="m right">
			<% if @round.to_i <= 10 %>
				Round <%= @round %>, 
			<% else %>
				Extra 
			<% end %>	
			ball <%= @ball %></span>
	</div>

	<div class="row">
		<%= render partial: "pins_cards", 
			locals: { pins_availables: @pins_availables, game_id: @game.id.to_s, 
				round: @round, ball: @ball } %>		
	</div>
</div>