


<div class="twelve columns">
	<h2>Round <%= @round %>, Ball <%= @ball %></h2>

	<a href="" class="btn_pins"><span class="pins">1</span></a>
	<a href="" class="btn_pins"><span class="pins">2</span></a>
	<a href="" class="btn_pins"><span class="pins">3</span></a>
	<a href="" class="btn_pins"><span class="pins">4</span></a>
	<a href="" class="btn_pins"><span class="pins">5</span></a>
	<a href="" class="btn_pins"><span class="pins">6</span></a>
	<a href="" class="btn_pins"><span class="pins">7</span></a>
	<a href="" class="btn_pins"><span class="pins">8</span></a>
	<a href="" class="btn_pins"><span class="pins">9</span></a>
	<a href="" class="btn_pins"><span class="pins">10</span></a>
</div>