


<div class="twelve columns">
	<h2>Round 1, Ball 2</h2>
	
	<h3>Please, Select pins knocked down</h3>
	
	<div class="row">
		<%= render partial: "pins_cards", locals: { pins: 8, id: 1, round: 1, ball: 2 } %>		
	</div>
</div>
	
</div>